<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item>
      <ion-label position = "floating">Usuario</ion-label>

      <ion-input type = "email"
      [(ngModel)] = "user.email"
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
      required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position = "floating">Contraseña</ion-label>
      <ion-input type="password" 
      [(ngModel)] = "user.password"
      required></ion-input>
    </ion-item>

    <ion-button type = "large" color = "primary" (click)="ngOnlogin()">Inicio</ion-button>
    <ion-button type = "large" color = "primary" routerLink="/register">Registrar</ion-button>
    



  </ion-list>
</ion-content>
